# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=factchecker
DB_USER=admin
DB_PASS=adminpassword

# Configurações de Embeddings e ChromaDB
CHROMA_PERSIST_DIRECTORY=knowledge_base/chromadb
EMBEDDING_MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
